# 오픈 채팅방

In [65]:
record = ["Enter uid1234 Muzi","Enter uid4567 Prodo","Leave uid1234", "Enter uid1234 Prodo", "Change uid4567 Ryan"]
record_dic = {}
result = []
for record_str in record:
    record_ls = record_str.split(' ')
    if 'Enter' in record_str:
        ID = record_ls[1]
        NAME = record_ls[2]
        record_dic[ID] = NAME
        result.append("[{}]님이 들어왔습니다.".format(ID))
    elif 'Leave' in record_str:
        ID = record_ls[1]
        NAME = record_dic[ID]
        result.append("[{}]님이 나갔습니다.".format(ID))
        del record_dic[ID]
    else: #change
        ID = record_ls[1]
        NAME = record_ls[2]
        record_dic[ID] = NAME

for key in record_dic:
    for i in range(len(answer)):
        #id -> NAME
        result[i] = result[i].replace(key,record_dic[key])
        
print(record_dic)
print(result)

{'uid4567': 'Ryan'}
['[uid1234]님이 들어왔습니다.', '[Ryan]님이 들어왔습니다.', '[uid1234]님이 나갔습니다.']

In [30]:
for value in record_dic:
    print(key)

uid1234
uid1234

In [39]:
aa = ['[Muzi]님이 들어왔습니다.']
aa.replace('k','A')

AttributeError: 'list' object has no attribute 'replace'

In [19]:
a= {'uid4567': 'Ryan', 'uid1234': 'Prodo'}
a['uid4567'] = 'A'

In [20]:
a

{'uid4567': 'A', 'uid1234': 'Prodo'}

In [66]:
def solution(record):
    answer = []
    record_dic = {}
    for record_str in record:
        record_ls = record_str.split(' ')
        if 'Enter' in record_ls:
            ID = record_ls[1]
            record_dic[ID]= record_ls[2]
            answer.append("{}님이 들어왔습니다.".format(ID))
        elif 'Leave' in record_ls:
            answer.append("{}님이 나갔습니다.".format(record_ls[1]))
        else: #change
            ID = record_ls[1]
            record_dic[ID] = record_ls[2]

    for key in record_dic:
        for i in range(len(answer)):
            #id -> NAME
            answer[i] = answer[i].replace(key,record_dic[key])
    return answer

In [78]:
def solution(record): # 아이디랑 이름이 같은 사람이 있으면 실패
    answer = []
    record_dic = {}
    for record_str in record: 
        record_ls = record_str.split(' ')
        if 'Enter' in record_ls:
            record_dic[record_ls[1]]= record_ls[2]
            answer.append("{}님이 들어왔습니다.".format(ID))
        elif 'Leave' in record_ls:
            answer.append("{}님이 나갔습니다.".format(record_ls[1]))
        else: #change
            record_dic[record_ls[1]] = record_ls[2]

    for key in record_dic:
        for i in range(len(answer)):
            #id -> NAME
            answer[i] = answer[i].replace(key,record_dic[key])
    return answer, record_dic

In [79]:
record = ["Enter uid1234 Muzi","Enter uid4567 uid4567", "Leave uid1234", "Enter uid1234 Prodo", "Change uid1234 Ryan"]
solution(record)

(['uid4567님이 들어왔습니다.',
  'uid4567님이 들어왔습니다.',
  'Ryan님이 나갔습니다.',
  'uid4567님이 들어왔습니다.'],
 {'uid1234': 'Ryan', 'uid4567': 'uid4567'})

In [80]:
def solution(record):
    answer = []
    record_dic = {}
    printer = {'Enter' : '님이 들어왔습니다.', 'Leave' : '님이 나갔습니다.'}
    for record_str in record:
        record_ls = record_str.split(' ')
        if record_ls[0] == 'Enter':
            record_dic[record_ls[1]] = record_ls[2]
        elif record_ls[0] == 'Change':
            record_dic[record_ls[1]] = record_ls[2]
                    
    for record_str in record:
        if record_str.split(' ')[0] != 'Change':
            answer.append(record_dic[record_str.split(' ')[1]]+printer[record_str.split(' ')[0]])
    return answer

# 실패율

In [136]:
N=5; stages = [2, 1, 2, 6, 2, 4, 3, 3]; #[3,4,2,1,5]
s_dic = [stages.count(i) for i in range(1,N+2)]
fail = [s_dic[i-1]/sum(s_dic[i:]) for i in range(1,N+1)]
a = sorted(range(len(fail)),key=fail.__getitem__, reverse=True)
a

[2, 3, 1, 0, 4]

In [131]:
s_dic

[1, 3, 2, 1, 0, 1]

In [135]:
i=1
s_dic[i-1]/sum(s_dic[i:])

0.14285714285714285

In [134]:
s_dic[i]

3

In [129]:
fail

[0.42857142857142855, 0.5, 0.5, 0.0, 1.0]

In [130]:
1/8

0.125

In [142]:
def solution(N, stages):
    #answer = []
    epsilon = 1e-6
    s_dic = [stages.count(i) for i in range(1,N+2)]
    fail = [s_dic[i-1]/(sum(s_dic[i:])+epsilon) for i in range(1,N+1)]
    answer = sorted(range(len(fail)),key=fail.__getitem__, reverse=True)
    answer = [i+1 for i in answer]
    return answer

In [143]:
solution(4,[4,4,4,4])

[4, 1, 2, 3]

In [144]:
solution(5,[2, 1, 2, 6, 2, 4, 3, 3])

[3, 4, 2, 1, 5]

# 후보키

In [213]:
relation = [["100","ryan","music","2"],["200","apeach","math","2"],["300","tube","computer","3"],\
            ["400","con","computer","4"],["500","muzi","music","3"],["600","apeach","music","2"]]

In [165]:
a = [len(set([relation[i][j] for i in range(len(relation))])) for j in range(len(relation[0]))]

In [170]:
a

[6, 5, 3, 3]

In [169]:
b= sorted(range(len(a)),key=a.__getitem__, reverse=True)

[0, 1, 2, 3]

In [163]:
len([j for j in range(len(relation[0])) if len(set([relation[i][j] for i in range(len(relation))])) == len(relation)])

1

In [172]:
[j for j in range(len(relation[0])) if len(set([relation[i][j] for i in range(len(relation))])) != len(relation)]

[1, 2, 3]

In [190]:
relation[1][nomax[0]]

'apeach'

In [193]:
str(['A','B'])

"['A', 'B']"

In [196]:
ls_j = []
nomax = [j for j in range(len(relation[0])) if len(set([relation[i][j] for i in range(len(relation))])) != len(relation)]
for i in range(len(relation)):
    a= [j for j in relation[i]]#relation[j].count(j)
a

['600', 'apeach', 'music', '2']

In [197]:
from itertools import combinations

In [198]:
relation.extend(combinations(range(4),1))

In [244]:
lsls = list(range(len(relation[0])))
answer = []

In [245]:
k=2
for j in range(len(list(combinations(relation[0],k)))):
    ls = [list(combinations(relation[i],k))[j] for i in range(len(relation))]
    ls_set = set(ls)
    if len(ls_set)==6:
        answer.append(j)
        for i in range(len(relation)):
            relation[i].remove(relation[i][j])

lsls, answer, relation

([0, 1, 2],
 [],
 [['ryan', 'music', '2'],
  ['apeach', 'math', '2'],
  ['tube', 'computer', '3'],
  ['con', 'computer', '4'],
  ['muzi', 'music', '3'],
  ['apeach', 'music', '2']])

In [254]:
relation[0]

['ryan', 'music', '2']

In [ ]:

def solution(relation):
    answer_list = list()
    for i in range(1, 1 << len(relation[0])):
        tmp_set = set()
        for j in range(len(relation)):
            tmp = ''
            for k in range(len(relation[0])):
                if i & (1 << k):
                    tmp += str(relation[j][k])
            tmp_set.add(tmp)

        if len(tmp_set) == len(relation):
            not_duplicate = True
            for num in answer_list:
                if (num & i) == num:
                    not_duplicate = False
                    break
            if not_duplicate:
                answer_list.append(i)
    return len(answer_list)

In [256]:
k=2;j=1
relation[0].remove()#[list(combinations(relation[i],k))[j] for i in range(len(relation))][0])

ValueError: list.remove(x): x not in list

In [235]:
lsls

[1, 2, 3]

In [212]:
len(relation)

10

In [210]:
list(combinations(relation[1],3))

[('200', 'apeach', 'math'),
 ('200', 'apeach', '2'),
 ('200', 'math', '2'),
 ('apeach', 'math', '2')]

# stock price

In [318]:
#[1, 2, 3, 2, 3] -> [4, 3, 1, 1, 0]
ls = [1, 2, 3, 2, 3]
answer = []
for i in range(len(ls)):
    if i == len(ls)-1:
        answer.append(0)
        break
    j=1
    for k in range(i+1,len(ls)):
        if k == len(ls)-1:
            answer.append(j)
        elif ls[i] <= ls[k]:
            j+=1
        else:
            answer.append(j) 
            break
answer

[4, 3, 1, 1, 0]

In [305]:
list(range(len(ls)))

[0, 1, 2, 3, 4]

In [304]:
len(ls)-1

4

In [317]:
ls = [1, 2, 3, 2, 3]
i=2
j=1
answer = []
for k in range(i+1,len(ls)):
        if k == len(ls)-1:
            answer.append(j)
        elif ls[i] <= ls[k]:
            j+=1
        else:
            answer.append(j)
            break
answer

[1]

# skill tree

In [382]:
#CBD, [BACDE, CBADF, AECB, BDA]->2
skill = 'CBD'
skill_trees = ['BACDE', 'CBADF', 'AECB', 'BDA']

In [374]:
skill_trees_ls = [list(i) for i in skill_trees] # str -> list
skill_trees_ls

[['B', 'A', 'C', 'D', 'E'],
 ['C', 'B', 'A', 'D', 'F'],
 ['A', 'E', 'C', 'B'],
 ['B', 'D', 'A']]

In [375]:
for i in range(len(skill_trees_ls)):
    kmax = len(skill_trees_ls)
    test = list(set(skill_trees_ls[i]) - set(skill)) # 차집합 구해서
    for elem in test:
        skill_trees_ls[i].remove(elem)  # 순서 유지하면서 skill_trees_ls와 skill사이에 공통된것만 남기기
    print(skill_trees_ls)

[['B', 'C', 'D'], ['C', 'B', 'A', 'D', 'F'], ['A', 'E', 'C', 'B'], ['B', 'D', 'A']]
[['B', 'C', 'D'], ['C', 'B', 'D'], ['A', 'E', 'C', 'B'], ['B', 'D', 'A']]
[['B', 'C', 'D'], ['C', 'B', 'D'], ['C', 'B'], ['B', 'D', 'A']]
[['B', 'C', 'D'], ['C', 'B', 'D'], ['C', 'B'], ['B', 'D']]

In [380]:
ls_final = []
for i in range(len(skill_trees_ls)):
    kmax = len(skill_trees_ls)
    test = list(set(skill_trees_ls[i]) - set(skill))# 차집합 구해서
    for elem in test:
        skill_trees_ls[i].remove(elem) # 순서 유지하면서 skill_trees_ls와 skill사이에 공통된것만 남기기
    print(skill_trees_ls)    
       
    for j in range(len(skill_trees_ls[i])):    
        if skill_trees_ls[i][j] == list(skill)[j]: # 서로 같은지 비교
            continue
        elif skill_trees_ls[i][j] != list(skill)[j]: # 순서상 다른게 나오면 ls_final에 false 추가
            ls_final.append(False)
            break
kmax - len(ls_final)

[['B', 'C', 'D'], ['C', 'B', 'D'], ['C', 'B'], ['B', 'D']]
[['B', 'C', 'D'], ['C', 'B', 'D'], ['C', 'B'], ['B', 'D']]
[['B', 'C', 'D'], ['C', 'B', 'D'], ['C', 'B'], ['B', 'D']]
[['B', 'C', 'D'], ['C', 'B', 'D'], ['C', 'B'], ['B', 'D']]

2

In [381]:
#교집합 써서 아닌 것들 지우고 남은 것들로 순서 따지기

In [388]:
#CBD, [BACDE, CBADF, AECB, BDA]->2
skill = 'CBD'
skill_trees = ['BACDE', 'CBADF', 'AECB', 'BDA']

In [393]:
answer = 0

for skills in skill_trees:
    skill_list = list(skill)

    for s in skills:
        if s in skill:
            if s != skill_list.pop(0): #처음부터 pop시키기
                break
    else: #오잉??
        answer += 1

answer

2

In [392]:
list(skill).pop(0)

'C'

In [385]:
skill_list.pop(0)

'B'

# 송신탑

In [437]:
# [3,9,9,3,5,7,2] -> [0,0,0,3,3,3,6]
heights = [3,9,9,3,5,7,2]
answer = []

In [439]:
kk = len(heights)
for _ in range(kk):
    h_pop = heights.pop()
    h_ls = list(range(0,len(heights)))
    h_ls.reverse()
#    print(h_ls)
    if len(h_ls)==0:
        answer.append(0)

    for i in h_ls:
        if heights[i] > h_pop:
            answer.append(i+1)
            break
        elif i ==0:
            answer.append(0)
answer    
# h_ls에서 인덱스 하나씩 뽑아서 heights와 비교하고 작으면 넘기고 크면 멈추고 빈 list에 인덱스 추가하는 식으로

[5, 4, 3, 2, 1, 0]
[4, 3, 2, 1, 0]
[3, 2, 1, 0]
[2, 1, 0]
[1, 0]
[0]
[]

[6, 3, 3, 3, 0, 0, 0]

In [441]:
# [3,9,9,3,5,7,2] -> [0,0,0,3,3,3,6]
heights = [3,9,9,3,5,7,2]
answer = []

h_pop = heights.pop()
h_ls = list(range(0,len(heights)))
h_ls.reverse()
print(h_ls)
if len(h_ls)==0:
    answer.append(0)

for i in h_ls:
        if heights[i] > h_pop:
            answer.append(i+1)
            break
        elif i ==0:
            answer.append(0)
answer

[5, 4, 3, 2, 1, 0]

[6]

In [443]:
ans = [0] * len(heights)
ans

[0, 0, 0, 0, 0, 0]

In [449]:
# [3,9,9,3,5,7,2] -> [0,0,0,3,3,3,6]
heights = [3,9,9,3,5,7,2]
answer = []

def solution(h):
    ans = []
    for i in range(len(h)-1, 0, -1): #range 에서 inverse : -1
        for j in range(i-1, -1, -1):
            if h[i] < h[j]:
                ans.append(j+1) # 이렇게 하면 끝에 0이 안채워짐
                break
    ans.reverse()            
    return ans

In [450]:
solution(heights)

[3, 3, 3, 6]

In [451]:
def solution(h):
    ans = [0] * len(h) # 해당사항 없는거에 자동으로 0채워지도록!
    for i in range(len(h)-1, 0, -1):
        for j in range(i-1, -1, -1): #range 에서 inverse : -1
            if h[i] < h[j]:
                ans[i] = j+1
                break
    return ans

In [452]:
solution(heights)

[0, 0, 0, 3, 3, 3, 6]

# 네트워크 문제

In [487]:
# N = 3; computers = [[1, 1, 0], [1, 1, 0], [0, 0, 1]]; return = 2
# N = 3; computers = [[1, 1, 0], [1, 1, 1], [0, 1, 1]]; return = 1
N = 3; computers = [[1, 1, 0], [1, 1, 1], [0, 1, 1]];
ls = []
for i in range(len(computers)):
    for j in range(i,len(computers[i])):
        if i!=j and computers[i][j]:
            ls.append([i,j])
ls
            #for k in range(len(ls)):
#     list(ls)

[[0, 1], [1, 2]]

In [482]:
ls.remove(ls[0])

In [489]:
ls

[[0, 1], [1, 2]]

In [488]:
for k in range(len(ls)):
    
    for m in range(k,len(ls)):
        if len(set(ls[k]) & set(ls[m])) !=0 :
            ls_tot = list(set(ls[k]+ls[m])
            ls.remove(ls[k])
            ls.remove(ls[m])
            ls.append(ls_tot)
        elif len(ls)==1:
            break
        else
ls

SyntaxError: invalid syntax (<ipython-input-488-316f50727ee1>, line 6)

In [474]:
set(ls[0]+ls[1])

{0, 1, 2}

# simple array

In [491]:
a=[1,2,3]

In [492]:
sum(a)

6

In [494]:
a=[17, 28, 30]
b=[99, 16, 8]
A=0
B=0
for i in range(len(a)):
        if a[i]>b[i]:
            A+=1
        elif a[i]<b[i]:
            B+=1

[A,B]

[2, 1]

In [495]:
test =[1000000001, 1000000002, 1000000003, 1000000004, 1000000005]
sum(test)

5000000015

In [498]:
N=4

In [504]:
sol = ''
for i in list(range(1,4+1)):
    sol = sol+str(i)
sol

'1234'

In [503]:
'2'+'3'

'23'

In [518]:
len('-------WELCOME-------')

21

In [520]:
'-'*int((3*N-7)/2)

'-------'

In [534]:
STDIN = input()

7 21

In [536]:
int(STDIN[0])

7

In [555]:
STDIN = input()
N=int(STDIN.split(' ')[0])
n = N//2
STDOUT = ''
for i in range(N):
    if i <n:
        STDOUT=STDOUT + '---'*(n-i) + '.|.'*(N-2*(n-i))+'---'*(n-i)+'\n'
    elif i == n :
        STDOUT=STDOUT + '-'*int((3*N-7)/2)+'WELCOME'+'-'*int((3*N-7)/2)+'\n'
    else:
        STDOUT=STDOUT + '---'*(i-n) + '.|.'*(N-2*(i-n))+'---'*(i-n)+'\n'
print(STDOUT)

11
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [550]:
STDIN = input()

11 33

In [554]:
STDIN.split(' ')[0]

'11'

In [549]:
N=11
i=2
STDOUT = ''
n = N//2
STDOUT=STDOUT + '---'*(n-i) + '.|.'*(N-2*(n-i))+'---'*(n-i)+'\n'
print(STDOUT)

---------.|..|..|..|..|.---------

In [531]:
N=11
n = N//2
STDOUT = ''
for i in range(N):
    if i <n:
        STDOUT=STDOUT + '---'*(n-i) + '.|.'*(N-2*(n-i))+'---'*(n-i)+'\n'
    elif i == n :
        STDOUT=STDOUT + '-'*int((3*N-7)/2)+'WELCOME'+'-'*int((3*N-7)/2)+'\n'
    else:
        STDOUT=STDOUT + '---'*(i-n) + '.|.'*(N-2*(i-n))+'---'*(i-n)+'\n'
print(STDOUT)

'---------.|.---------\n'

# Sparse Arrays

In [556]:
strings = ['ab','abc','ab','be']
query = ['ab','be','e']
result = []
for i in query:
    test = [True for j in strings if i==j]
    result.append(sum(test))
result

[2, 1, 0]

In [566]:
a = input()
a = a.split(' ')
strings = a[1:int(a[0])+1]
queries = a[int(a[0])+2:]

In [567]:
strings, queries

(['def', 'de', 'fgh'], ['de', 'lmn', 'fgh'])

# 단어변환

In [569]:
begin = 'hit'; target='cog'; words = ['hot', 'dot', 'dog', 'lot', 'log', 'cog'] #4
#begin=hit; target=cog; words=[hot, dot, dog, lot, log] #0

In [611]:
begin_ls = list(begin)
words_ls = [list(k) for k in words]
target_ls = list(target)
print(begin_ls)
print(target_ls)
print(words_ls)

['h', 'i', 't']
['c', 'o', 'g']
[['h', 'o', 't'], ['d', 'o', 't'], ['d', 'o', 'g'], ['l', 'o', 't'], ['l', 'o', 'g'], ['c', 'o', 'g']]

In [622]:
dicaa = {}
best_score = 0
best_list = []
for j in ls:
    if best_score <ls.count(j):
        best_score = ls.count(j) 
        best_list = j
ls = [best_list]

['h', 'o', 't']

In [647]:
b_ls = []
t_ls = []
for i in range(len(begin_ls)):
    if begin_ls[i]!=target_ls[i]:
        b_ls.append(begin_ls[i])
        t_ls.append(target_ls[i])
b_ls, t_ls

(['h', 't'], ['c', 'g'])

In [648]:
for i in t_ls:
    begin_ls = list(begin)
    begin_ls[target_ls.index(i)] = i
    if begin_ls in words_ls:
        begin = ''.join(begin_ls)
        break
begin_ls = list(begin)

In [649]:
begin_ls

['h', 'o', 't']

In [629]:
b_ls[0] = 'c'

In [630]:
b_ls

['c', 'i', 't']

In [627]:
target_ls.index('o')

1

In [573]:
target in words

True

In [599]:
ls = []
while begin_ls not in ls:
    for i in range(len(begin_ls)):
        for k_ls in words_ls:
            if begin_ls[i] == k_ls[i]:
                ls.append(k_ls)

KeyboardInterrupt:

In [606]:
ls = []
i=0
ls.append(begin_ls)
#while begin_ls not in ls:

ls

[['h', 'i', 't']]

In [607]:
for k_ls in words_ls:
            if ls[-1][:i] == k_ls[:i]:
                ls.append(k_ls) 
                i+=1
            else:
                break
ls

[['h', 'i', 't'], ['h', 'o', 't'], ['d', 'o', 't']]

In [593]:
['h', 'i', 't']!=begin_ls

False

# 완주하지 못한 선수

In [667]:
participant = ['marina', 'josipa', 'nikola', 'vinko', 'filipa'];
completion = ['josipa', 'filipa', 'nikola','vinko'];

In [686]:
participant = ["marina", "josipa", "nikola", "vinko", "filipa"];
completion = ["josipa", "filipa", "marina", "nikola"]

In [656]:
for name in completion:
    participant.remove(name)
participant

['vinko', 'filipa']

In [685]:
sorted(participant,reverse=True)

['vinko', 'nikola', 'marina', 'josipa', 'filipa']

In [682]:
completion.append('1')

In [687]:
sorted(completion, reverse=True)

['nikola', 'marina', 'josipa', 'filipa']

In [677]:
list(zip(sorted(participant), sorted(completion)))

[('filipa', 'filipa'),
 ('josipa', 'josipa'),
 ('marina', 'marina'),
 ('nikola', 'nikola')]

In [689]:
completion.append('1')
[i for i, j in zip(sorted(participant, reverse=True), sorted(completion, reverse=True)) if i != j][0]

'vinko'

# 전화번호부 테스트

In [727]:
phone_book = ["113", "12340", "123440", "12345", "98346"]
#phone_book = ["12232332", "12", "222222"]

In [714]:
j=1
phone_book[j] not in [phone[:len(phone_book[j])] for phone in phone_book[j+1:len(phone_book[j])]]

True

In [728]:
answer =True
for j in range(len(phone_book)):
    if phone_book[j] in [phone[:len(phone_book[j])] for phone in list(set(phone_book) - set([phone_book[j]]))]:
        answer = False
        break
answer

True

# 위장

In [2]:
clothes = [["yellow_hat", "headgear"], ["blue_sunglasses", "eyewear"], ["green_turban", "headgear"],['smoky_makeup', 'face']]

In [6]:
cl_ls = list(map(lambda x:x[1], clothes))
test = list(map(lambda y:  cl_ls.count(y), set(cl_ls)))

[1, 2, 1]

In [9]:
from itertools import combinations
from functools import reduce

In [772]:
aa = [list(combinations(test,i+1)) for i in range(len(test))]

In [781]:
reduce(lambda x,y:x*y,(1,2))
#aa[1]

2

In [783]:
test

[1, 1, 2]

In [15]:
cl_ls = list(map(lambda x:x[1], clothes))
test = list(map(lambda y:  cl_ls.count(y), set(cl_ls)))
answer=0
answer += sum(test)
ls = []
for i in range(1,len(test)):    
    ls += [reduce(lambda x,y:x*y,tup) for tup in list(combinations(test,i+1))]
    
        
answer+=sum(ls)
answer

11

In [10]:
cl_ls = list(map(lambda x:x[1], clothes))
test = list(map(lambda y:  cl_ls.count(y), set(cl_ls)))
answer=0
answer += sum(test)
for i in range(1,len(test)):    
    for tup in list(combinations(test,i+1)):
        
        answer+=reduce(lambda x,y:x*y,tup)
        
answer

11

# 베스트 앨범

In [928]:
genres = ["classic", "pop", "classic", "classic", "pop","song",'song','song','song']; 
plays= [500, 600, 150, 800, 2500,100,300,50,1000]
#[4, 1, 3, 0]

In [929]:
gp = [(i, genres[i], plays[i]) for i in range(len(genres))]
ls = []
for _ in range(len(set(genres))):
    plays = [ii[2] for ii in gp]
    best = gp[plays.index(max(plays))]
    idx, name, _ = best
    ls.append(idx)
    gp.remove(best)
    best_c=0
    best_idx=0
    for i, n, c in gp:
        if n == name:
            if best_c<c:
                best_idx=i    
            gp.remove((i,n,c))    
    ls.append(best_idx)

In [930]:
gp

[(2, 'classic', 150), (6, 'song', 300)]

In [931]:
ls

[4, 1, 8, 7, 3, 0]

In [899]:
gp = [(i, genres[i], plays[i]) for i in range(len(genres))]
ls = []
gp

[(0, 'classic', 500),
 (1, 'pop', 600),
 (2, 'classic', 150),
 (3, 'classic', 800),
 (4, 'pop', 2500),
 (5, 'pop', 1000)]

In [905]:
plays = [ii[2] for ii in gp]
plays

[500, 150, 800]

In [906]:

best = gp[plays.index(max(plays))]
idx, name, _ = best
ls.append(idx)
gp.remove(best)
gp

[(0, 'classic', 500), (2, 'classic', 150)]

In [908]:
best_c=0
best_idx=0
for i, n, c in gp:
    if n == name:
        gp.remove((i,n,c)) 
        if best_c<c:
            best_idx=i    
        print(gp)
ls.append(best_idx)

[]

In [903]:
gp

[(0, 'classic', 500), (2, 'classic', 150), (3, 'classic', 800)]

In [904]:
ls

[4, 5]

In [831]:
def indices( mylist, value):
    return [i for i,x in enumerate(mylist) if x==value]

In [818]:
max_ = max(gp[1])
idx_max = plays.index(max_)
name_max = genres[idx_max]
max_, idx_max, name_max

(2500, 4, 'pop')

In [819]:
gp[0].pop(idx_max)
gp[1].pop(idx_max)
ls.append(idx_max)

In [932]:
list(zip(genres,plays))

[('classic', 500), ('pop', 150), ('classic', 800), ('classic', 300)]

In [ ]:
genres = ["classic", "pop", "classic", "classic", "pop","song",'song','song','song']; 
plays= [500, 600, 150, 800, 2500,100,300,50,1000]

answer = []
d = {e:[] for e in set(genres)}
    for e in zip(genres, plays, range(len(plays))):
        d[e[0]].append([e[1] , e[2]])
    genreSort =sorted(list(d.keys()), key= lambda x: sum( map(lambda y: y[0],d[x])), reverse = True)
    for g in genreSort:
        temp = [e[1] for e in sorted(d[g],key= lambda x: (x[0], -x[1]), reverse = True)]
        answer += temp[:min(len(temp),2)]
    return answer

In [ ]:
genres = ["classic", "pop", "classic", "classic", "pop","song",'song','song','song']; 
plays= [500, 600, 150, 800, 2500,100,300,50,1000]
def solution(genres, plays):
    answer = []
    d = {e:[] for e in set(genres)}
    for e in zip(genres, plays, range(len(plays))):
        d[e[0]].append([e[1] , e[2]])
    genreSort =sorted(list(d.keys()), key= lambda x: sum( map(lambda y: y[0],d[x])), reverse = True)
    for g in genreSort:
        temp = [e[1] for e in sorted(d[g],key= lambda x: (x[0], -x[1]), reverse = True)]
        answer += temp[:min(len(temp),2)]
    return answer